# OS
.DS_Store
Thumbs.db

# IDE and local environment
/.vscode/

# Packages
/composer.lock
/vendor/
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Application
.env
min-manifest.json
/uploads/*
!/uploads/.gitkeep
/plugins/*
!/plugins/.gitkeep

# Tests
.eslintcache

# Distribution
/dist/
