<?xml version="1.0"?>
<ruleset name="Ups">
  <description>Baseline coding standards</description>

  <!--
  Prevent errors caused by WordPress Coding Standards not supporting PHP 8.0+.
  See https://github.com/WordPress/WordPress-Coding-Standards/issues/2035
  -->
  <ini name="error_reporting" value="E_ALL &#38; ~E_DEPRECATED" />

  <!-- Where to sniff -->
  <file>./src/</file>

  <!-- Optionally add the template files in the root -->
  <file>./404.php</file>
  <file>./front-page.php</file>
  <file>./functions.php</file>
  <file>./index.php</file>
  <file>./page.php</file>
  <file>./single.php</file>

  <exclude-pattern>*.js</exclude-pattern>
  <exclude-pattern>*.css</exclude-pattern>

  <!-- Don't hide tokenizer exceptions -->
  <rule ref="Internal.Tokenizer.Exception">
    <type>error</type>
  </rule>

  <!-- Include the WordPress-Extra standard. -->
  <rule ref="WordPress-Extra">
    <!--
    We may want a middle ground though. The best way to do this is add the
    entire ruleset, then rule by rule, remove ones that don't suit a project.
    We can do this by running `phpcs` with the '-s' flag, which allows us to
    see the names of the sniffs reporting errors.
    Once we know the sniff names, we can opt to exclude sniffs which don't
    suit our project like so.
    The below two examples just show how you can exclude rules.
    They are not intended as advice about which sniffs to exclude.
    -->

    <!--
    <exclude name="WordPress.WhiteSpace.ControlStructureSpacing"/>
    <exclude name="WordPress.Security.EscapeOutput"/>
    -->
  </rule>

  <!-- Let's also check that everything is properly documented. -->
  <rule ref="WordPress-Docs"/>

  <!-- Add in some extra rules from other standards. -->
  <rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>
  <rule ref="Generic.Commenting.Todo"/>

  <config name="minimum_supported_wp_version" value="5.0"/>

  <!-- Text domains -->
  <!-- <rule ref="WordPress.WP.I18n">
    <properties>
      <property name="text_domain" type="array">
        <element value="my-textdomain"/>
        <element value="library-textdomain"/>
      </property>
    </properties>
  </rule> -->

  <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
    <exclude name="WordPress.NamingConventions.PrefixAllGlobals" />
  </rule>

  <rule ref="Generic.Files.LineLength">
    <properties>
      <property name="lineLimit" value="85"/>
      <property name="absoluteLineLimit" value="0"/>
    </properties>
  </rule>

  <!-- Add some custom exclusions to filename rules to enable proper namespacing. -->
  <rule ref="WordPress.Files.FileName">
    <properties>
      <property name="strict_class_file_names" value="false"/>
    </properties>
    <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
  </rule>

</ruleset>
