{% extends "layouts/base.twig" %}

{% block pageBody %}

<img class="lazyload" src="{{ site.theme.link }}/static/img/skela.png" alt="Skela banner" />

<ul>
{% for post in posts %}
  <li><a href="{{ post.link }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}
