// ---------------------------------------------------------------------------
// HTML & Body
// ---------------------------------------------------------------------------

html {
  color: $c-black;
  font-size: $fs-base;
  line-height: 1em;
  font-family: $ff-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
}

// ---------------------------------------------------------------------------
// Defaults
// ---------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

// ---------------------------------------------------------------------------
// Text highlight
// ---------------------------------------------------------------------------

::selection {
  background: $c-yellow;
  text-shadow: none;
}

// ---------------------------------------------------------------------------
// Skip to content link
// ---------------------------------------------------------------------------

.skip-to-content {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -99;
  text-decoration: none;
  color: $c-white;

  &:focus,
  &:active {
    background-color: $c-black;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    overflow: auto;
    padding: 16px 20px;
    z-index: 99;
  }
}

// ---------------------------------------------------------------------------
// Lazysizes: https://github.com/aFarkas/lazysizes
// ---------------------------------------------------------------------------

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  transition: opacity 0.3s;
  opacity: 1;
}

// For twig template debugging
pre {
  font-family: monospace;
}

#content {
  padding: 50px;
  min-height: 100vh;

  &:focus {
    outline: 0;
  }
}

// ---------------------------------------------------------------------------
// Front page demo styles
// ---------------------------------------------------------------------------
.page {
  max-width: 1000px;
  margin: 0 auto;

  h1 {
    font-size: 3em;
    text-align: center;
  }
  h2 {
    font-size: 2em;
  }

  img {
    max-width: 500px;
    margin: 0 auto;
  }

  ul {
    list-style: initial;
    padding-left: 30px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .logo {
    color: $c-gray;
    width: 120px;
    height: auto;
  }
}
