// ---------------------------------------------------------------------------
// HTML & Body
// ---------------------------------------------------------------------------

html {
  color: $c-black;
  font-size: 16px;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
}

// ---------------------------------------------------------------------------
// Defaults
// ---------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

// ---------------------------------------------------------------------------
// Text highlight
// ---------------------------------------------------------------------------

::selection {
  background: $c-yellow;
  text-shadow: none;
}

// ---------------------------------------------------------------------------
// Skip to content link
// ---------------------------------------------------------------------------

.skip-to-content {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -99;
  text-decoration: none;
  color: $c-white;

  &:focus,
  &:active {
    background-color: $c-black;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    overflow: auto;
    padding: 16px 20px;
    z-index: 99;
  }
}

// ---------------------------------------------------------------------------
// Lazysizes: https://github.com/aFarkas/lazysizes
// ---------------------------------------------------------------------------

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  transition: opacity 0.3s;
  opacity: 1;
}

// For twig template debugging
pre {
  font-family: monospace;
}
