@import 'base/reset';

// Blocks
@import 'components/related-articles';
@import 'components/image-layout';

// Temp page styles
body {
  margin: 0 auto;
  max-width: 1000px;
  padding: 50px;
}

img {
  display: block;
  max-width: 100%;
}
